#Ignore all object files
*.o

#Ignore logs
transactions_full.txt
transactions.txt
transactions*
flash.txt
gdp_test.txt
gdp.txt
money_test.txt
launder_data.txt

#Ignore .eps files
*.eps

#Ignoring .tar.gz
*.tar.gz

#Ignore folders
/diagram/*
/gnuplot_example/*
/old/*
/test/*
/working/*
/backup/*
/Long-run-example/*
